@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;800&family=Raleway&display=swap');

/* background-image: linear-gradient(to bottom, #800080, #740081, #680081, #5a0082, #4b0082); */

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #1d1d1b;
}

/* .contractaddress {
  margin-left: 500px;
  width: 470px;
  height: 100px;
  background-color: #1d1d1b;
  color: #fff;
  left: 300px;
  padding-left: 10px;
} */

.home {
  height: auto;
  width: 100%;
  /* overflow: hidden; */
  background-image: url(./assets/game4.jpg);
  background-size: cover;
  opacity: 1;
  color: #fff;
  background-blend-mode: lighten;
  backdrop-filter: brightness(50%);
  /* filter: brightness(70%); */
}

.video-frame {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 855px;
  border-radius: 20px;
}

.blob {
  background: #702687;
  height: 400px;
  width: 850px;
  border-radius: 30% 50% 50% 40%;
  animation: transform 20s ease-in-out infinite both alternate,
    movement_one 10s ease-in-out infinite both;
  opacity: 1;
  position: absolute;
  left: 250px;
  top: 430px;
}

@keyframes transform {
  0%,
  100% {
    border-radius: 33% 67% 70% 50% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}

@keyframes movement_one {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translate(13%, 20%) rotateY(10deg) scale(1.2);
  }
}

.homeb {
  height: 50px;
  width: 100%;
}

.blobs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -5;
  height: 450px;
  width: 450px;
}

.commingsoon {
  height: 100px;
  padding: 15px 0;
  width: 100%;
  background-image: linear-gradient(
    to left,
    #800080,
    #740081,
    #680081,
    #5a0082,
    #4b0082
  );
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.commingsoon::-webkit-scrollbar {
  display: none;
}

.commingsoon h1 {
  color: aliceblue;
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  animation-timing-function: linear;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  animation-name: scroll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* background-color: red; */
}

.players {
  background-color: #1d1d1b;
  height: auto;
  width: 100%;
}

.playersimg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.playersimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.8s;
}

.playersimg:hover img {
  scale: 1.2;
}

.games {
  width: 100%;
  height: auto;
}
.gamesh {
  margin-top: 40px;
}

.games h1 {
  font-size: 50px;
  font-weight: 700;
}
.games p {
  font-size: 22px;
  top: 20px;
  margin-top: 10px;
  letter-spacing: 1px;
  color: rgb(89, 88, 88);
  font-weight: 300;
}
.img-sec {
  margin-top: 30px;
  /* background-color: red; */
  display: flex;
  height: auto;
}
.img-sec1 {
  width: 50%;
  height: 100%;
  background-size: cover;
  position: relative;
}
.img-sec2 {
  width: 50%;
  height: 100%;

  position: relative;
  /* background-color: blue; */
}
.img-sec1 img {
  filter: brightness(60%);
  border-radius: 10%;
  width: 100%;
  max-height: 100%;
  justify-content: flex;
}
.img-s1h {
  position: absolute;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  top: 30%;

  right: 30%;
}

.img-s1h h5 {
  font-size: 2.5em;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
}
.img-s1h p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}
.img-s1h:hover p {
  color: #aeaeb3;
}
.img-sec2 img {
  filter: brightness(60%);
  border-radius: 10%;
  width: 100%;
  max-height: 100%;
}
.img-s2h {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 35%;

  right: 30%;
}

.img-s2h h5 {
  font-size: 2.5em;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
}
.img-s2h p {
  color: #ffffff;

  font-size: 1.1rem;
  font-weight: 400;
}
.img-s2h:hover p {
  color: #c8c8d2;
}
.img-s2h:hover span {
  display: inline-block;
  transition: 0.1s ease-in-out;
}

.img-s2h:hover span {
  transform: translateX(50%);
}
.img-s1h:hover span {
  display: inline-block;
  transition: 0.1s ease-in-out;
}

.img-s1h:hover span {
  transform: translateX(50%);
}
.features {
  height: 604px;
  width: 100%;
  background-color: #1d1d1b;
}
.feature1 {
  width: 400px;
  height: 450px;
  text-align: center;
  /* background-color: red; */
}
.feature2 {
  width: 400px;
  height: 450px;
  text-align: center;
  /* background-color: #fff; */
}
.feature3 {
  width: 400px;
  height: 450px;
  text-align: center;
  /* background-color: blue; */
}

.tokenomics {
  width: 100%;
  height: 300px;
  background-color: #f4f4f8;
  justify-content: center;
  align-items: center;
  display: flex;
}
.t1 {
  /* background-color: red; */
  width: 250px;
  height: 110px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.t2 {
  width: 250px;
  height: 110px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.t3 {
  width: 250px;
  height: 110px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.t4 {
  width: 250px;
  height: 110px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.t1 img {
  width: 70px;
  padding-right: 15px;
}
.t2 img {
  width: 70px;
  padding-right: 15px;
}
.t3 img {
  width: 70px;
  padding-right: 15px;
}
.t4 img {
  width: 70px;
  padding-right: 15px;
}

.faq {
  height: 700px;
  width: 100%;
  background-color: #1d1d1b;
  color: #f4f4f8;
}

.q1 {
  width: 600px;
  height: 520px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}
.q2 {
  width: 600px;
  height: 520px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.major {
  height: 550px;
  width: 100%;
  background-image: url('../src/assets/game3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 125px;
}

.whitespace {
  height: 275px;
  width: 100%;
  background-color: #f4f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #1d1d1b;
  color: #fff;
}

.footerimg {
  width: 150px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 32px));
  }
}

@media (max-width: 1350px) {
  .blob {
    width: 700px;
    left: 200px;
  }
}
@media (min-width: 600px) {
  .t2 {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .t3 {
    border-right: 1px solid #000;
  }
}

@media (max-width: 1200px) {
  .img-s2h h5 {
    font-size: 2rem;
  }
  .img-s2h p {
    font-size: 1rem;
  }
  .img-s1h h5 {
    font-size: 2rem;
  }
  .img-s1h p {
    font-size: 1rem;
  }
}

@media (max-width: 930px) {
  .video-frame {
    width: 700px;
  }
  .blob {
    width: 650px;
    left: 80px;
    top: 420px;
  }
  .herotext {
    font-size: 0.7rem;
  }
  .major h2 {
    font-size: 3.5rem;
  }

  .major p {
    font-size: 1.2rem;
  }

  .features {
    height: 700px;
  }
  .tokenomics h3 {
    font-size: 3rem;
  }
  .tokenomics p {
    font-size: 1.2rem;
  }
  .players p {
    font-size: 1.2rem;
  }
  .players h1 {
    font-size: 2.8rem;
  }
  .players {
    height: 500px;
  }
  .home {
    height: auto;
  }
  .img-s2h h5 {
    font-size: 1.5rem;
  }
  .img-s2h p {
    font-size: 0.8rem;
  }
  .img-s1h h5 {
    font-size: 1.5rem;
  }
  .img-s1h p {
    font-size: 0.8rem;
  }

  .t1 img {
    width: 50px;
    padding-right: 10px;
  }
  .t2 img {
    width: 50px;
    padding-right: 10px;
  }
  .t3 img {
    width: 50px;
    padding-right: 10px;
  }
  .t4 img {
    width: 50px;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .players {
    height: auto;
  }
  .blob {
    width: 550px;
    height: 350px;
    left: 0px;
    top: 400px;
  }
  .home {
    height: auto;
  }
  .video-frame {
    width: 550px;
    height: 400px;
  }
  .faq {
    height: 800px;
  }
  .major {
    height: 450px;
  }
  .whitespace {
    height: 200px;
  }
  .major h2 {
    font-size: 2.8rem;
  }

  .major p {
    font-size: 0.8rem;
  }
  .features {
    height: 600px;
  }
  .features h6 {
    font-size: 1.5rem;
  }
  .features p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
  .tokenomics h3 {
    font-size: 2rem;
  }
  .tokenomics p {
    font-size: 1rem;
  }
  .tokenomics {
    height: 200px;
  }
  .commingsoon {
    height: 70px;
  }
  .commingsoon h1 {
    font-size: 1.8rem;
  }
  .players p {
    font-size: 1rem;
  }
  .players h1 {
    font-size: 2.4rem;
  }
  .img-s2h h5 {
    font-size: 1.2rem;
  }
  .img-s2h p {
    font-size: 0.6rem;
  }
  .img-s1h h5 {
    font-size: 1.2rem;
  }
  .img-s1h p {
    font-size: 0.6rem;
  }
}

@media (max-width: 600px) {
  .video-frame {
    width: 310px;
    height: 400px;
  }
  .blob {
    width: 310px;
    left: 20px;
    top: 370px;
  }
  .players {
    height: auto;
  }

  .players p {
    text-align: center;
  }
  .home {
    height: auto;
  }
  .home p {
    font-size: 1rem;
  }
  .herotext {
    font-size: 0.5rem;
  }

  .major {
    height: 450px;
  }
  .whitespace {
    height: 200px;
  }
  .major h2 {
    font-size: 2rem;
  }

  .major p {
    font-size: 0.8rem;
  }
  .features {
    height: 1000px;
  }
  .featurec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
  .feature1 {
    height: 250px;
  }
  .feature2 {
    height: 250px;
  }
  .feature3 {
    height: 250px;
  }
  .features h6 {
    font-size: 1.5rem;
  }
  .features p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .featurec img {
    width: 350px;
    margin-left: 30px;
  }

  .tokenomics h3 {
    font-size: 2.8rem;
  }
  .tokenomics p {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .tokenomics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
  }
  .t2 {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  .t3 {
    border-bottom: 1px solid #000;
  }
  /* .faqc {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  /* .faq h5 {
    font-size: 1.5rem;
  } */

  .faq {
    height: 1200px;
  }
  .commingsoon {
    height: 70px;
  }
  .commingsoon h1 {
    font-size: 1.8rem;
  }
  .players p {
    font-size: 1rem;
  }
  .players h1 {
    font-size: 2.4rem;
  }
  /* .img-sec {
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
  /* .img-sec2 img {
    width: 400px;
    height: 200px;
  } */

  .img-s2h h5 {
    font-size: 1rem;
  }
  .img-s2h p {
    font-size: 0.6rem;
  }
  .img-s1h h5 {
    font-size: 1rem;
  }
  .img-s1h p {
    font-size: 0.6rem;
  }
}
