@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;800&family=Raleway&display=swap');

/* background-image: linear-gradient(to bottom, #800080, #740081, #680081, #5a0082, #4b0082); */

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #1d1d1b;
}

.video-frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contractaddress {
  margin-left: 500px;
  width: 470px;
  height: 100px;
  background-color: #1d1d1b;
  color: #fff;
  left: 300px;
  padding-left: 10px;
}

.clip {
  background-color: #fff;
}

.home {
  height: auto;
  width: 100%;
  /* overflow: hidden; */
  background-image: url(./assets/game4.jpg);
  background-size: cover;
  opacity: 1;
  color: #fff;
  /* filter: brightness(70%); */
}

.video-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 855px;
  background-image: url('');

  background-color: #531414;
}

.homeb {
  height: 50px;
  width: 100%;
  /* background: #e99f9f; */
}

.blobs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -5;
  height: 450px;
  width: 450px;
}

.commingsoon {
  height: 100px;
  padding: 15px 0;
  width: 100%;
  background-image: linear-gradient(
    to left,
    #800080,
    #740081,
    #680081,
    #5a0082,
    #4b0082
  );
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.commingsoon::-webkit-scrollbar {
  display: none;
}

.commingsoon h1 {
  color: aliceblue;
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  animation-timing-function: linear;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  animation-name: scroll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* background-color: red; */
}

.players {
  background-color: #1d1d1b;
  height: 650px;
  width: 100%;
}

.playersimg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.playersimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.8s;
}

.playersimg:hover img {
  scale: 1.2;
}

.features {
  height: 604px;
  width: 100%;
  background-color: #1d1d1b;
}
.feature1 {
  width: 400px;
  height: 450px;
  text-align: center;
  /* background-color: red; */
}
.feature2 {
  width: 400px;
  height: 450px;
  text-align: center;
  /* background-color: #fff; */
}
.feature3 {
  width: 400px;
  height: 450px;
  text-align: center;
  /* background-color: blue; */
}

.tokenomics {
  width: 100%;
  height: 300px;
  background-color: #f4f4f8;
  justify-content: center;
  align-items: center;
  display: flex;
}
.t1 {
  /* background-color: red; */
  width: 245px;
  height: 110px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.t2 {
  width: 245px;
  height: 110px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.t3 {
  width: 245px;
  height: 110px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000;
}
.t4 {
  width: 245px;
  height: 110px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.faq {
  height: 700px;
  width: 100%;
  background-color: #1d1d1b;
  color: #f4f4f8;
}

.q1 {
  width: 600px;
  height: 520px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}
.q2 {
  width: 600px;
  height: 520px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.major {
  height: 550px;
  width: 100%;
  background-image: url('../src/assets/game3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 125px;
}

.whitespace {
  height: 275px;
  width: 100%;
  background-color: #f4f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #1d1d1b;
  color: #fff;
}

.footerimg {
  width: 150px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 32px));
  }
}

@media (max-width: 930px) {
  .video-frame {
    width: 700px;
  }
  .herotext {
    font-size: 0.7rem;
  }
  .major h2 {
    font-size: 3.5rem;
  }

  .major p {
    font-size: 1.2rem;
  }

  .features {
    height: 700px;
  }
  .tokenomics h3 {
    font-size: 3rem;
  }
  .tokenomics p {
    font-size: 1.2rem;
  }
  .players p {
    font-size: 1.2rem;
  }
  .players h1 {
    font-size: 2.8rem;
  }
  .players {
    height: 500px;
  }
  .home {
    height: auto;
  }
}

@media (max-width: 768px) {
  .players {
    height: auto;
  }
  .home {
    height: auto;
  }
  .video-frame {
    width: 500px;
    height: 300px;
  }
  .faq {
    height: 800px;
  }
  .major {
    height: 450px;
  }
  .whitespace {
    height: 200px;
  }
  .major h2 {
    font-size: 2.8rem;
  }

  .major p {
    font-size: 0.8rem;
  }
  .features {
    height: 600px;
  }
  .features h6 {
    font-size: 1.5rem;
  }
  .features p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
  .tokenomics h3 {
    font-size: 2rem;
  }
  .tokenomics p {
    font-size: 1rem;
  }
  .tokenomics {
    height: 200px;
  }
  .commingsoon {
    height: 70px;
  }
  .commingsoon h1 {
    font-size: 1.8rem;
  }
  .players p {
    font-size: 1rem;
  }
  .players h1 {
    font-size: 2.4rem;
  }
}
